{% extends "base.html" %}
{% block title %}
    index
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="h4">Hi, {{ user.username }}</h4>
        </div>
    </div>

    <div id="student-messages" class="row">
        <div id="friends" class="col-md-4">
            <div>
                <h2 class="h2">Messages</h2>
                <a href="http://127.0.0.1:8000/messages/inbox/"><span class="glyphicon glyphicon-envelope"></span> you have (6) unread messages</a>
            </div>
            <div>
                <h2 class="h2">Pending Requests</h2>
                <ul id="received-friend-requests-list"></ul>
            </div>
        </div>
        <div id="upcoming-events" class="col-md-4 events">
            <h2 class="h2">Upcoming Events</h2>
            <div id="upcoming-event-details" class="event-details">
                <h5 class="h4">Joined:</h5>
                <ul id="joined-events-list"></ul>
                <h5 class="h4">Hosted:</h5>
                <ul id="host-events-list"></ul>
            </div>
        </div>
        <div id="recommended-events" class="col-md-4">
            <h2 class="h2">Recommended Events</h2>
            <div id="recommended-event-details" class="event-details">

            </div>
        </div>

    </div>

    <div></div>

<script>

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'check student profile exists' %}",
            type: "GET",
            success: function (data) {
                if(data.profile_exists == true) {
                    //$("#student-profile-div").append('<p><a href="{% url 'get student profile' %}?student_id={{ user.id }}">View student profile</a></p>')
                    $("#top-nav-bar").append('<li><a href="{% url 'get student profile' %}?student_id={{ user.id }}">My Profile</a></li>')
                }

                else if(data.profile_exists == false){
                    //$("#student-profile-div").append('<p><a href="{% url 'create student profile' %}">Create student profile</a></p>')
                    $("#top-nav-bar").append('<li><a href="{% url 'create student profile' %}">My Profile</a></li>')
                }
            }
        })
    })

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'get friend requests' %}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var i;
                for(i=0; i<data.friend_requests.length; i++) {
                    let acceptRequest = "<button class=qmeet-friend-accept-button><img src='../static/images/icon_friendaccept.png'><button>"
                    let rejectRequest = "<button class=qmeet-friend-accept-button><img src='../static/images/icon_friendreject.png'><button>"
                    $("#received-friend-requests-list").append('<li id=' + data.friend_requests[i].id + '>' + data.friend_requests[i].username + " wants to be your friend!" +
                        '<a href= "{% url 'accept friend request' %}?student_id=' + data.friend_requests[i].id + '">' + "Accept friend request" + '</a>' + '      ' +
                        '<a href= "{% url 'reject friend request' %}?student_id=' + data.friend_requests[i].id + '">' + "Reject friend request" + '</a>' + '</li>')
                }
            }
        })
    })

    $(document).ready(function () {
        $.ajax({
            url: "{% url 'get sent friend requests' %}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var i;
                for(i=0; data.sent_requests.length; i++) {
                    $("#sent-friend-requests-list").append('<li id=' + data.sent_requests[i].id + '>' + data.sent_requests[i].username + " friend request is pending." +
                        '<a href= "{% url 'cancel friend request' %}?student_id=' + data.sent_requests[i].id + '">' + "Cancel friend request" + '</a>' + '</li>')
                }
            }
        })
    })

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'get hosted events' %}",
            type: "GET",
            success: function (data) {
                var i;
                for(i=0; data.hosted_events.length; i++) {
                    $("#host-events-list").append('<li id=' + data.hosted_events[i].id + '>' + '<a href="{% url 'get event' %}?event_id=' + data.hosted_events[i].id + '">'
                        + data.hosted_events[i].title + '</a>' + '</li>')
                }
            }
        })
    })

    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get friend list' %}",
            type: "GET",
            dataType: "json",
            success: function(data) {
               for(var i=0; i<data.students.length; i++) {
                   $("#student-friend-list").append('<li id=' + data.students[i][0] + '>' + '<a href="{% url 'get student profile' %}?student_id=' + data.students[i][0]
                       + '">' + data.students[i][1] + '</a>' + '</li>')
               }
            }
        })
    })

    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get joined events' %}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var i;
                for(i=0; i<data.joined_events.length; i++) {
                    $("#joined-events-list").append('<li id=' + data.joined_events[i].id + '>' + '<a href="{% url 'get event' %}?event_id=' + data.joined_events[i].id + '">'
                        + data.joined_events[i].title + '</a>' + '</li>')
                }
            }
        })
    })
</script>

{% endblock %}
