{% extends 'base.html' %}
{%  block content %}

    <h2>CREATE NEW EVENT</h2>
    <form id="create-event-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <table>
            <tr>
                <td><label>Start date:</label></td> <td><input name="start-date" type="datetime-local"></td>
            </tr>
            <tr>
                <td><label>End date:</label></td> <td><input name="end-date" type="datetime-local"></td>
            </tr>
        </table>
        <button type="button" id="create-event-btn">Create event</button>
    </form>

<!--    <form id="create-event-form" method="POST" >
        PUT CSRF TOKEN HERE
        <table>
            <tr>
                <td><label>Event name:</label></td> <td><input name="event-name" type="text"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><label>Number of participants:</label></td> <td><input name="capacity" type= "number"></td>
            </tr>
        </table>
        <input type="button" id="create-event-btn">CREATE EVENT</input>
    </form>     -->

   <script>
       $(document).ready(function() {
            $("#create-event-btn").click(function() {
                $.ajax({
                    url: "{% url 'new event' %}",
                    method: "POST",
                    data: $("#create-event-form").serializeArray(),
                    success: function(data) {
                    }
                });
            });
       });

    </script>
{% endblock %}
