{% extends 'base.html' %}

{% block content %}
    <h2>Create Student Profile</h2>
    <form id="create-student-profile-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            {% if profile.bio == None %}
                <label for="textarea1">Bio:</label>
                <textarea id="textarea1" class="form-control" name="bio" rows="6" columns="50"></textarea>
            {% else %}
                <label for="textarea2">Bio:</label>
                <textarea id="textarea2" class="form-control" name="bio" value="{{ profile.bio }}" rows=""6 columns="50"></textarea>
            {% endif %}
        </div>
        <div>
            <button type="button" class="btn btn-primary" id="create-student-profile-btn">Create student profile</button>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            $("#create-student-profile-btn").click(function() {
                $.ajax({
                    url: "{% url 'new student profile' %}",
                    method: "POST",
                    data: $("#create-student-profile-form").serializeArray(),
                    success: function(data) {
                        alert("Event created successfully!");
                    }
                });
            });
       });
    </script>

{% endblock %}