{% extends 'base.html' %}
{% block content %}
    <p>This page shows a list of all events</p>
    <div>
        <ul id="student-list">

        </ul>
    </div>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get all events' %}",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var i;
                for (i=0; i<data.events.length; i++) {
                  alert(data.events[i].username);
                  $("#student-list").append('<li id=' + data.events[i].id + '>' + data.events[i].username + '</li>')
                }
            }
        })
    })
</script>
{% endblock %}

