{% extends 'base.html' %}
{% block content %}

    <form id="filter-events-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="btn btn-primary" id="event-filter-btn">Filter Events</button>
    </form>

    <div id="filtered-events-div">
        <ul id="filtered-events-list">

        </ul>
    </div>

    <div id="event-div">
        <ul id="event-list">

        </ul>
    </div>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get all events' %}",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var i;
                for (i=0; i<data.events.length; i++) {
                  $("#event-list").append('<li id=' + data.events[i].id + '>' + '<a href="{% url 'get event' %}?event_id=' + data.events[i].id + '">' + data.events[i].title + '</a></li>')
                }
            }
        })
    })

    $("#event-filter-btn").click(function(){
        $.ajax({
            url: "{% url 'filter events' %}",
            type: "POST",
            data: $("#filter-events-form").serializeArray(),
            success: function (data) {
                $("#filtered-events-list").empty()
                var i;
                for(i=0; data.filtered_events.length; i++) {
                    $("#filtered-events-list").append('<li id=' + data.filtered_events[i][0] + '>' + '<a href="{% url 'get event' %}?event_id=' + data.filtered_events[i][0]
                        + '">' + data.filtered_events[i][1] + '</a></li>')
                }
            }
        })
    })
</script>
{% endblock %}
