{% extends 'base.html' %}
{% block content %}

    <p>Here is the information for {{ event.title }}</p>

    <p>The event is being hosted by {{ event.host.username }}</p>

    <p>Location of the event: {{ event.location }}</p>

    <p>The event starts at{{ event.start_date }}</p>

    <p>The event ends at {{ event.end_date }}</p>

    <p>The capacity for the event is {{ event.capacity }}</p>

    {% if event.capacity == 100 %}
        <p>This event has capacity of exactly 100 people!</p>
    {% endif %}

    <div id="join-event-div">

    </div>


<script>

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'check user is host' %}",
            type: "GET",
            data: {
                'event_host_spid': {{ event.host.studentprofile.id }},
                'event_id': {{ event.id }}
            },
            success: function (data) {
                if (data.context == "Host") {
                    $("#join-event-div").append('<button type="button" id="update-event-button"><a href="{% url "update event page" %}?event_id={{ event.id }}">Update event</a></button>')
                }

                else if (data.context == "Neither") {
                    $("#join-event-div").append('<button type="button" id="join-event-button"><a href="{% url "join event" %}?event_id={{ event.id }}">Join event</a></button>')
                }

                else {
                    $("#join-event-div").append('<button type="button" id="leave-event-button"><a href="{% url "leave event" %}?event_id={{ event.id }}">Leave event</a></button>')
                }
            }
        })
    })

</script>

{% endblock %}