{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2><span style="letter-spacing: 2px;">Student Profile ({{ student_profile.student.username }})</span></h2>

        <div class="profile-left">
            <div>
                <img src="../../qmeet/media/{{ student_profile.display_picture }}" width="200px" height="200px" />
            </div>
            <div>

                <div class="profile-interests">
                    <h3>Interests:</h3>
                    <ul id="student-categories">

                    </ul>
                    <div id="add-friend-div"></div>
                    <div id="view-student-timetable"><a href="{% url 'timetable' %}?student_id={{ student_profile.student.id }}">View timetable</a></div>
                </div>
            </div>
        </div>
        <div class="profile-right">
            <h5>
                <label>Course:</label>
                <p>{{ student_profile.course }}</p>
            </h5>
            <h5>
                <label>Location:</label>
                <p>{{ student_profile.location }}</p>
            </h5>
            <h5>
                <label>Bio:</label>
                <p>{{ student_profile.bio }}</p>
            </h5>
        </div>


    <!--
    <div>
        <h1>{{ student_profile.student.username }}</h1>

        <h2><span>Studying:</span></h2><h1><span class="label label-primary">{{ student_profile.course }}</span></h1>

        <p>Bio: {{ student_profile.bio }}</p>

        <p>Location: {{ student_profile.location }}</p>


        <div>
            <p>{{ student_profile.student.username }} is particularly interested in the following categories</p>
            <ul id="student-categories">

            </ul>
        </div>

        <div id="add-friend-div">

        </div>
    </div>
    -->

<script>

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'get student categories' %}?student_profile_id={{ student_profile.id }}",
            type: "GET",
            success: function (data) {
                var i;
                for(i=0; data.categories.length; i++) {
                    $("#student-categories").append('<li>' + data.categories[i].category + '</li>')
                }
            }
        })
    })

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'compare user and student profile' %}?student_profile_id={{ student_profile.id }}",
            type: "GET",
        success: function (data) {
                    if(data.context == "Same") {
                        $("#add-friend-div").append('<p><a href="{% url 'create student profile' %}">Update student profile</a></p>')
                    }

                    else if(data.context == "Friends") {
                        $("#add-friend-div").append('<p><a href="{% url 'remove friend' %}?student_profile_id={{ student_profile.id }}">Remove friend</a></p>')
                    }

                    else {
                        $("#add-friend-div").append('<p><a href="{% url 'send friend request' %}?student_id={{ student_profile.student.id }}">Add friend</a></p>')
                    }
                }
            })
        })

    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get friend list' %}?student_id={{ student_profile.student.id }}",
            type: "GET",
            success: function (data) {
                alert("SUCCESS")
            }
        })
    })

</script>

{% endblock %}