{% extends 'base.html' %}
{% block content %}
    <p>This page shows a list of all students</p>
    <div>
        <ul id="student-list">

        </ul>
    </div>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get all students' %}",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var i;
                for (i=0; i<data.students.length; i++) {
                  $("#student-list").append('<li id=' + data.students[i].id + '>' + '<a href="{% url 'get student profile' %}?student_id=' + data.students[i].id + '">' + data.students[i].username + '</a>' + '<button type="button">Click Me!</button>' + '</li>')
                }
            }
        })
    })
</script>
{% endblock %}

