{% extends 'base.html' %}

{% block content %}
    <h2>CREATE STUDENT PROFILE</h2>
    <form id="create-student-profile-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="create-student-profile-btn">Create student profile</button>
    </form>

    <script>
        $(document).ready(function() {
            $("#create-student-profile-btn").click(function() {
                $.ajax({
                    url: "{% url 'new student profile' %}",
                    method: "POST",
                    data: $("#create-student-profile-form").serializeArray(),
                    success: function(data) {
                        alert("Event created successfully!");
                    }
                });
            });
       });
    </script>

{% endblock %}