{% extends 'base.html' %}
{% block content %}

    <h2>UPDATE NEW EVENT</h2>
    <form id="update-event-form" method="POST" action="{% url 'update event' %}?event_id={{ event.id }}">
        {% csrf_token %}
        <div class="main-page-body form-group">
            <div>
                <label for="title">Title:</label>
                <input class="form-control" id="title" name="title" type="text" value="{{ event.title }}">
            </div>
            <div>
                <label for="location">Location:</label>
                <input class="form-control" id="location" name="location" type="text" value="{{ event.location }}">
            </div>
            <div>
                <label for="capacity">Capacity:</label>
                <input class="form-control" id="capacity" name="capacity" type="text" value="{{ event.capacity }}">
            </div>
            <div>
                <label>Categories:</label>
                {{ form.categories }}
            </div>

            <div>
                <label for="datetimepicker1">Start date:</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input id="start-date" name="start-date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="{{ event.start_date }}">
                    <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div>
                <label for="datetimepicker2">End date:</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input id="end-date" name="end-date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="{{ event.end_date }}">
                    <span class="input-group-addon" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" id="update-event-btn">Update event</button>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'get event categories' %}?event_id={{ event.id }}",
                type: "GET",
                success: function (data) {
                    for (let i = 0; i < data.categories.length; i++){
                        $(":checkbox[value=" + data.categories[i].id + "]").prop('checked', true);//parent().id//.prop('checked', true); //.text())
                    }
                }
            });

            $('#datetimepicker1').datetimepicker({
                //locale: 'en-gb',
                format: 'YYYY-MM-DD HH:MM'
            });

            $('#datetimepicker2').datetimepicker({
                //locale: 'en-gb',
                format: 'YYYY-MM-DD HH:MM'
            });
        })
    </script>

{% endblock %}
