{% extends 'base.html' %}
{% block content %}

    <h2>UPDATE NEW EVENT</h2>
    <form id="update-event-form" method="POST">
        {% csrf_token %}
        <div>
            <label>Title:</label>
            <input name="title" type="text" value="{{ event.title }}">
        </div>
        <div>
            <label>Location:</label>
            <input name="location" type="text" value="{{ event.location }}">
        </div>
        <div>
            <label>Capacity:</label>
            <input name="capacity" type="text" value="{{ event.capacity }}">
        </div>
        <div>
            <label>Categories:</label>
            {{ form.categories }}
        </div>

        <table>
            <tr>
                <td><label>Start date:</label></td> <td><input name="start-date" type="datetime-local"></td>
            </tr>
            <tr>
                <td><label>End date:</label></td> <td><input name="end-date" type="datetime-local"></td>
            </tr>
        </table>
        <button type="button" id="update-event-btn">Update event</button>
    </form>

    <script>
    $(document).ready(function() {
        $("#update-event-btn").click(function() {
            $.ajax({
                url: "{% url 'update event' %}?event_id={{ event.id }}",
                type: "POST",
                data: $("#update-event-form").serializeArray(),
                success: function (data) {

                }
            })
        })
    })
    </script>

{% endblock %}
